* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-left: 40px;
  font-size: 1.8rem;
}

.header { 
  background: url('/img/gta-image.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraph {
  width: 500px;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 15px;
}

ul.ul > li {
  margin-top: 10px;
}

.footer-icons {
  display: flex;
}

.footer-icons > span {
  margin-left: 10px;
}

.copyright {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media only screen and (max-width: 425px) {
  .paragraph {
    width: 300px;
  }

  
  .copyright > div {
    font-size: 20px; 
  }

  .footer-icons > span {
    font-size: 18px;
  }
}